/**
 * forms
 */

.account--head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account--body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.account-container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/**
 * Signup form is a bit larger in height then the rest`
 */

.accountForms--Signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 500px; */
}

.accountForms--Signup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupButton {
    align-items: center;
}

/**
 * login Image
 */

.image {
    background-image: url('../Image/login_image.jpg');
    height: 100vh;
    width: 70vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.accountLogin {
    display: flex;
    flex-direction: row;
}

.sideForm {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 500px;
}

.form-horizontal {
    width: 400px;
}