/**
 * forms
 */

.account--head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account--body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.account-container {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/**
 * login Image
 */

.image {
  background-image: url('../Image/login_image.jpg');
  height: 100vh;
  width: 70vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.accountLogin {
  display: flex;
  flex-direction: row;
}

.signupContainer {
  display: flex;
  flex-direction: row;
}

.sideForm {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 500px;
}

.form-horizontal {
  width: 400px;
}

/* ================== */

/* SHOW =============*/

/* ================== */

.show-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.show-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.show-button-container {
  text-align: center;
}

.btn-success {
  color: #fff;
  background-color: #3C887E;
  border-color: rgb(47, 105, 98);
}

.btn-success:hover {
  color: #fff;
  background-color: rgb(31, 70, 65);
  border-color: rgb(22, 49, 46);
}

.btn-success:active:focus, .btn-success:focus, .btn-success:active {
  color: #fff;
  background-color: rgb(22, 49, 47);
  border-color: rgb(19, 41, 38);
  width: 400px;
}

.signupImage {
  background-image: url('../Image/SignupImage.jpg');
  height: 100vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.SignupForm {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around;
  width: 100%;
}

FormControl:valid {
  border: 1px solid #3C887E !important;
}

FormControl:invalid {
  border: 1px solid red !important;
}

.signupButton {
  margin-top: 30px;
  background-color: #3C887E;
  color: white;
}