/* background slide show */
.slideshow {
  background-color: rgb(23, 23, 23);
  height: 100%;
  width: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text h1 {
  color: white;
  font-size: 7rem;
  text-shadow: 2px 2px 15px #565656;
}

.btn-success {
  color: #fff;
  background-color: #3C887E;
  border-color: rgb(47, 105, 98);
}

.btn-success:hover {
  color: #fff;
  background-color: rgb(31, 70, 65);
  border-color: rgb(22, 49, 46);
}

.btn-success:active:focus,
.btn-success:focus,
.btn-success:active {
  color: #fff;
  background-color: rgb(22, 49, 47);
  border-color: rgb(19, 41, 38);
}

.eight-ball {
  background-image: url(https://marketing.emailonacid.com/hubfs/2017-template-images/8ball/Magic8BallEmail_EmptyBall.png);
  position: absolute;
  bottom: 0;
  width: 500px;
  height: 300px;
  z-index: 3;
  background-repeat: no-repeat;
  transform: translateY(100%);
}

.rise {
  animation: rise .3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes rise {
  100% {
    transform: translateY(0%);
  }
}

.lower {
  animation: lower .3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes lower {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

.triangle {
  background-image: url(https://marketing.emailonacid.com/hubfs/2017-template-images/8ball/Magic8BallEmail_Triangle1.png);
  width: 150px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 46%;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  color: white;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

.triangle-show {
  animation: triangle-show .3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes triangle-show {
  100% {
    opacity: 1;
  }
}


.triangle span {
  word-spacing: 9999999px;
  text-align: center;
  font-size: 2rem;
}

.slideshow li {
  animation: imageAnimation 50s linear .75s infinite;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1);
  width: 100%;
  z-index: 0;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1525610553991-2bede1a236e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4974b0a5e849c6553f27f686df2dcfc&auto=format&fit=crop&w=1350&q=80)
}

.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e813bc9e93c2b7ede92476a3eddf3606&auto=format&fit=crop&w=1350&q=80);
  animation-delay: 10s;
}

.slideshow li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fada82e527ef9eeaa1faed34043b425b&auto=format&fit=crop&w=1267&q=80);
  animation-delay: 20s;
}

.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e7202b2009203eabb2ca7351f9f1ad59&auto=format&fit=crop&w=1350&q=80);
  animation-delay: 30s;
}

.slideshow li:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1484230836131-717d7ce3298d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=627e6cd2231589e4799606ddfea4f52d&auto=format&fit=crop&w=1350&q=80);
  animation-delay: 40s;
}

@keyframes imageAnimation {

  0%,
  40% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(1);
  }

  10% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1.1);
  }

  20% {
    opacity: 1;
    transform: scale(1.2);
  }

  30% {
    opacity: 0;
    transform: scale(1.2);
  }
}