.navbar-inverse {
    background-color: #3C887E;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar {
    border-radius: 0px !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #3C887E !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgb(47, 109, 101);
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #3C887E !important;
}

.navbar-collapse {
    border: none;
}

button {
    color: #3C887E;
    overflow: hidden;
}