@import url('https://fonts.googleapis.com/css?family=Boogaloo');

.navbar-brand {
  font-family: 'Boogaloo', sans-serif;
  font-size: 3rem;
}

.header-link {
  font-size: 16px;
}

.navbar-inverse {
  background-color: #3C887E;
  border: none;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0;
}

.navbar-inverse .navbar-toggle {
  border-color: #3C887E !important;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: rgb(47, 109, 101);
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #3C887E !important;
}

.navbar-collapse {
  border: none;
}

button {
  color: #3C887E;
  overflow: hidden;
}

/* ZIP CODE INPUT */

.flex-zip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-zip>div {
  margin-right: 7px;
}

.form-control-header {
  display: block;
  width: 65px;
  height: 20px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  background-image: none;
  border: none;
  border-radius: 4px;
  margin: 0;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
  /* -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
  /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

@media screen and (max-width: 767px) {
  .flex-zip {
    justify-content: start;
  }
}